/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

@font-face {
  font-family: 'roboto';
  src: url("../font/Roboto-Thin.ttf");
}
@font-face {
  font-family: 'robotoBoldCondensed';
  src: url("../font/Roboto-BoldCondensed.ttf");
}

body{
	font-family: "roboto", sans-serif;
}

#block-system-user-menu > ul {
	padding: 0;	
}
#img-sc{
  width: 40px;
  height: 40px;
}

#block-handle-custom-block > h2 {
	font-size: 14px;
	padding: 2px;
}
#block-handle-custom-block > div.test > span {
	font-weight: bold;
	font-size: 23px;
	color: green;
	font-family: 'robotoBoldCondensed';
}
#edit-select {
	padding: 10px;
	font-size: 20px;
  font-weight: bold;
  border: 1px solid green;
}
#block-handle-currency {
	float:right;
}

#block-handle-custom-block{
	float: right;
}

#block-handle-currency > h2 {
	font-size: 14px;
	padding: 2px;
}

.views-field-field-door-image{
	width: 210px;
}

.view.view-door-list-htm.view-id-door_list_htm.view-display-id-page.menu-item.view-dom-id-850ff1f3d46961d0be3d1b3bdd36aec2 > div.view-content > table > tbody > tr > div.views-field.views-field-title{
	width: 210px;
}

.views-view-grid{
	margin: auto;
}

.breadcrumb{
	border: 1px solid #555;
	margin: 10px;
}

#views_slideshow_cycle_teaser_section_new_door-block{
	margin: auto;
}

#views_slideshow_cycle_teaser_section_slider_item_finding_random-block_1{
	margin: auto;
}

#block-locale-language{
	float: right;
}

#block-locale-language > h2 {
	font-size: 14px;
	padding: 2px;
}

ul.language-switcher-locale-url {
  margin: 0px;
}

a.language-link {
  font-size: 12px;
  color: #555;
}

#block-locale-language > ul > li {
  list-style-type: none;
}

.feedback-form > article > header > h2 > a{
	display: none;
}

#webform-client-form-145 > div{
	width: 300px;
	margin: auto;
}

#webform-client-form-145 > div > div.form-actions > input{
  margin: 10px;
  border: 1px solid green;
  font-size:18px;
  background-color: Green;
  padding: 5px;
  color: white;
}
#block-system-main-menu > ul > li.menu__item > a{
  color: #FFF;
  text-transform: uppercase;
}
#block-system-main-menu > ul > li.menu__item{
  border: 1px solid #FFF;		
}

#block-system-main-menu > ul > li.menu__item:hover{
  background-color: #ff5a5f;
  text-decoration: underline;
  border-bottom: 4px solid #e00007;
}

#block-system-main-menu > ul > li.menu__item.is-leaf.first.leaf{
	border-bottom-left-radius: 9%;
}

#block-system-main-menu > ul > li.menu__item.is-leaf.first.leaf{
	border-top-left-radius: 12%;
}

#block-system-main-menu > ul > li.menu__item.is-leaf.last.leaf{
	border-top-right-radius: 9%;
}

#block-system-main-menu > ul > li.menu__item.is-leaf.last.leaf{
	border-bottom-right-radius: 12%;
}

#block-system-user-menu > ul > li.menu__item:hover{
	opacity: 0.4;
}

#block-system-user-menu > ul > li.menu__item > a{
	color: darkslategray;
	font-size: 30px;
}

.panel-display.panel-2col-bricks.clearfix > div > div > div > h2 > a{
	font-size: 18px;
	color: #555;
	margin-bottom: 30px;
}

.view-dom-id-75a130b0f02ecdc739dce018de98c712 > div.view-content > table > tbody > tr > td > div.views-field.views-field-title > span > a{
	font-size: 22px;
}

table.views-table.cols-5 {
  margin: auto;
  margin-top: 30px;
}

#site-slogan
{
  margin-top: 20px;
  font-size: 45px;
  color: #555;
  font-family: 'robotoBoldCondensed';
}

table.sticky-enabled.tableheader-processed.sticky-table {
  margin: auto;
  margin-bottom: 20px;
  width: 700px;
}

table.sticky-enabled.tableheader-processed.sticky-table > tbody > tr > td > a{
	font-size: 18px;
}

table.views-table.cols-4 {
  margin: auto;
  margin-bottom: 30px;
}

.breadcrumb > ol > li > a{
	font-size: 18px;
	color: #555;
	text-decoration: none;
}

.breadcrumb > ol > li {
	font-size: 18px;
	color: #555;
	text-decoration: none;
}

#block-locale-language > ul > li{
	display: inline-block;;
}

.panel-display.panel-2col-bricks.clearfix{
	border: 1px solid #555;
	padding: 25px;
}

.views-slideshow-cycle-main-frame-row-item{
	margin: auto;
}
li.jcarousel-item.jcarousel-item-horizontal{
	width: 860px;
	height: 430px;
}

.banner-class.view-content {
	height: 460px;
}
.jcarousel-skin-default .jcarousel-clip-horizontal{
	width: 850px;
}
.jcarousel-container-horizontal{
	width: 850px;
	height: 460px;
}

#location{
	margin-top: 20px;
}

@media (max-width: 1300px) and (min-width: 1000px) {
	body{
		font-family: Geneva, Arial, Helvetica, sans-serif;
	}

	li.jcarousel-item.jcarousel-item-horizontal{
		width: 660px;
		height: 330px;
	}

	.banner-class.view-content {
		height: 360px;
	}

	.jcarousel-skin-default .jcarousel-clip-horizontal{
		width: 650px;
	}

	.jcarousel-container-horizontal{
		width: 650px;
		height: 360px;
	}
	.block__title {
		color: #555;
		font-size: 25px;
	}
	#block-system-user-menu > ul > li.menu__item > a{
		color: darkslategray;
		font-size: 18px;
	}
	.menu__item {
  		display: inline;
  		padding: 10px;
  		border: 1px solid #555;
	}

	a {
  		color: #0C215A;
  		font-weight: bold;
  		font-size: 11px;
  		padding: 3px;
	}
	#site-slogan {
  		margin-top: 20px;
  		font-size: 34px;
  		color: #555;
	}

	#page-title {
  		color: #555;
  		font-size: 29px;
	}

	.jcarousel-prev{
		top: 170px;
	}

	.jcarousel-next{
		top: 170px;
	}

	.jcarousel-container.jcarousel-container-horizontal {
  		margin-left: -20px;
	}
}

@media (max-width: 700px) and (min-width: 200px) {
   .menu__item {
   	 display: block;
   }

  	#site-slogan {
  		margin-top: 20px;
  		font-size: 35px;
  		color: #555;
  		font-family: 'robotoBoldCondensed';
  		margin-top: 30px;
	}
	.header__name-and-slogan {
  		float: left;
  		margin-left: 20px;
  		margin-bottom: 30px;
  		padding: 10px;
	}
	div#block-block-1 {
  		float: none;
  		width: 300px;
  		margin: auto;
	}
	div#block-views-new-door-block{
  		float: none;
  		width: 300px;
  		margin: auto;	
	}

	#block-block-5{
  		float: none;
  		width: 300px;
  		margin: auto;
  		margin-left: 65px;
  		margin-bottom: 30px;
  	}

	div#block-views-7564f226454292475a34d5772446f3fc{
  		float: none;
  		width: 300px;
  		margin: auto;		
	}
	.panel-display.panel-2col-bricks.clearfix{
		display: none;
	}
	#block-system-user-menu{
		width: 300px;
		margin-left: 65px;
	}
	#page-title {
  		color: #555;
 		 font-size: 45px;
 		 display: none;
	}
	#block-user-login{
		width: 300px;
		margin-left: 65px;		
	}
	#block-ulogin-ulogin{
		width: 300px;
		margin-left: 65px;			
	}

	.two-sidebars #content{
		float: initial;
		margin: auto;
        margin-bottom: 40px;
        width: 400px;
	}

	table.sticky-enabled.tableheader-processed.sticky-table {
  		margin: auto;
  		margin-bottom: 20px;
  		width: 400px;
	}
    td.col-1 {
  		margin: 10px;
  		border: 1px solid #555;
  		text-align: center;
  		padding: 8px;
  		display: table;
	}
    td.col-2 {
  		margin: 10px;
  		border: 1px solid #555;
  		text-align: center;
  		padding: 8px;
  		display: table;
	}
    td.col-3 {
  		margin: 10px;
  		border: 1px solid #555;
  		text-align: center;
  		padding: 8px;
  		display: table;
	}
}